body {
	margin: 0;
	font-size: 18px;
	line-height: 150%;
	font-family: 'PT Sans', Arial, Helvetica, sans-serif;
	padding-bottom: 500px;
}

img {
	max-width: 100%;
}

.wrap	{
	max-width: 1312px;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
}
